.md-visible {
	display: none !important;
}

header {
	position: absolute;
	width: 100%;
}
nav {
	background-color: #212121;
	height: 50px;
	position: fixed;
    width: 100%;
	z-index: 999;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}

.menu {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 13px 70px;

	a {
        color: white;
        font-size: 15px;
        font-weight: 300;
        border-right: 2px dotted black;
        padding-right: 60px;
        text-decoration: none;
		
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }
}
.subheader {
	background-color: rgba(0, 0, 0, 0.6);
	height: 87px;
	margin-top: 50px;

	.subheader_phone {
		display: block;
		margin-top: 8px;
		color: #ffffff;
		font-size: 22px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: right;
		line-height: 12px;
	}
	.subheader_btn {
		margin-top: 22px;
		color: #ffffff;
		height: 46px;
		width: 162px;
		font-weight: 400;
		font-size: 14px;
		text-transform: uppercase;
		border: none;
		border-radius: 4px;
		background: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
		box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
	}
	.subheader_call {
		color: #fff;
		text-align: right;
		font-size: 12px;
		font-weight: 300;
		margin-top: 22px;
	}
	.subheader_offical {
		color: #fff;
		font-size: 13px;
		font-weight: 400;
		opacity: 0.6;
	}
	.subheader_logo {
		display: block;
		margin-top: 19px;
		max-width: 100%;
	}
}
.promo {
	min-height: 800px;
	background: url('../img/bg/uber_bg.png') center center/cover no-repeat;
	padding: 150px 0 135px 0;
	h1 {
		color: #FFF;
		text-align: center;
		font-size: 60px;
		font-weight: 900;
		line-height: 24px;
		text-transform: uppercase;
		padding-top: 67px;
	}
	h2 {
		color: #fff;
		font-size: 36px;
		font-weight: 700;
		line-height: 48px;
		text-transform: uppercase;
		text-align: center;
	}
	.row {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.promo_descr {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}
.promo_btn {
	color: #ffffff;
	height: 63px;
	width: 256px;
	font-weight: 400;
	line-height: 63px;
	font-size: 18px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
	text-transform: uppercase;
	border: none;
	border-radius: 4px;
	background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
	box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 116px;
}
.advantages {

	margin-bottom: 92px;

	.main_h4 {
		color: #FFF;
		text-align: center;
		font-size: 11px;
		font-weight: 400;
		line-height: 11px; 
		text-transform: uppercase;
		background-color: #000000;
		display: flex;
		width: 113px;
		height: 24px;
		flex-direction: column;
		justify-content: center;
		flex-shrink: 0;
		margin: 0 auto;
		margin-top: 30px;

	}
	.header_h2 {
		color: #222;
		text-align: center;
		font-size: 38px;
		font-weight: 700;
		line-height: 48px;
		text-transform: uppercase;
		margin-top: 77px;
	}
	.row {
		display: flex;
		justify-content: center;
	}
	p {
		color: #202020;
		font-size: 15px;
		font-weight: 300;
		line-height: 21px;
		width: 371px;
	}
	span {
		color: #1EACC7;
		font-size: 17px;
		font-weight: 400;
		line-height: 21px;
	}
}
.rounded-circle {
	background-color: #1eacc7;
	width: 116px;
	height: 116px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.advantages_container {
	display: flex;
	margin-top: 16px;
}
.label{
	color: #FFF;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px; 
    text-transform: uppercase;
    background-color: #000000;
    display: flex;
    width: 112px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: 0 auto;
    margin-bottom: 33px;

		&_s{
			color: #070716;
			text-align: center;
			font-size: 11px;
			font-weight: 400;
			line-height: 11px; 
			text-transform: uppercase;
			background-color: #FFFfff;
			display: flex;
			width: 112px;
			height: 24px;
			flex-direction: column;
			justify-content: center;
			flex-shrink: 0;
			margin: 0 auto;
			margin-bottom: 33px;
		}

		&_c{
			color: #ffffff;
			text-align: center;
			font-size: 11px;
			font-weight: 400;
			line-height: 11px; 
			text-transform: uppercase;
			background-color: #000000;
			display: flex;
			width: 112px;
			height: 24px;
			flex-direction: column;
			justify-content: center;
			flex-shrink: 0;
			margin: 0 auto;
			margin-top: 68px;
		}

		&_x{
			color: #070716;
			text-align: center;
			font-size: 11px;
			font-weight: 400;
			line-height: 11px; 
			text-transform: uppercase;
			background-color: #FFFfff;
			display: flex;
			width: 112px;
			height: 24px;
			flex-direction: column;
			justify-content: center;
			flex-shrink: 0;
			margin: 0 auto;
			margin-top: 48px;
		}

}
.title{
	color: #222;
	text-align: center;
	font-size: 38px;
	font-weight: 700;
	line-height: 48px;
	text-transform: uppercase;
	margin-top: 10px;

		&_s{
			color: #ffffff;
			text-align: center;
			font-size: 38px;
			font-weight: 700;
			line-height: 48px;
			text-transform: uppercase;
			margin-top: 10px;
		}

		&_c{
			color: #222;
			text-align: center;
			font-size: 38px;
			font-weight: 700;
			line-height: 48px;
			text-transform: uppercase;
			margin: 28px 0 33px 0;
		}

		&_x{
			color: #ffffff;
			text-align: center;
			font-size: 38px;
			font-weight: 700;
			line-height: 48px;
			text-transform: uppercase;
			margin-top: 28px;
		}

}
.subtitle{
	color: #222;
	text-align: center;
	font-family: Roboto;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 25px;

		&_s{
			color: #ffffff;
			text-align: center;
			font-family: Roboto;
			font-size: 17px;
			font-style: normal;
			font-weight: 400;
			line-height: 21px;
			margin-bottom: 25px;
		}

		&_x{
			color: #ffffff;
			text-align: center;
			font-family: Roboto;
			font-size: 17px;
			font-style: normal;
			font-weight: 400;
			line-height: 21px;
			margin:0 auto;
		}

}
.mobile{
	min-height: 800px;
	background: url('../img/bg/mobile_bg.png'), lightgray 50% / cover no-repeat;
	padding: 47px 0 30px 0;

	
	&_item{
			position: relative;
			width: 320px;
			height: 280px;
			margin: 0 auto;
			margin-bottom: 34px;

				&_subtitle{
					color: #FFF;
					text-align: center;
					font-size: 24px;
					font-weight: 400;
					line-height: 31px;
					text-transform: uppercase;
					margin-bottom: 97.5px;
					margin-top: 82px;
				
						&_2{
							color: #FFF;
							text-align: center;
							font-size: 24px;
							font-weight: 400;
							line-height: 31px;
							text-transform: uppercase;
							margin-bottom: 72.5px;
							margin-top: 82px;
						}

						&_3{
							color: #FFF;
							text-align: center;
							font-size: 24px;
							font-weight: 400;
							line-height: 31px;
							text-transform: uppercase;
							margin-bottom: 70.5px;
							margin-top: 82px;
						}
				}

				&_plus{
					width: 29px;
					height: 29px;
					border-radius:50%;
					background-color:#000000;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0 auto;
				}

				&_1{
					background: url('../icons/Карточка\ 1.png'), lightgray 50% / cover no-repeat;
				}
				&_2{
					background: url('../icons/Карточка\ 2.png'), lightgray 50% / cover no-repeat;
				}
				&_3{
					background: url('../icons/Карточка\ 3.png'), lightgray 50% / cover no-repeat;
				}
				&_4{
					background: url('../icons/Карточка\ 4.png'), lightgray 50% / cover no-repeat;
				}
				&_5{
					background: url('../icons/Карточка\ 5.png'), lightgray 50% / cover no-repeat;
				}
				&_6{
					background: url('../icons/Карточка\ 6.png'), lightgray 50% / cover no-repeat;
				}
	}
}

.flip-card {
	perspective: 1000px;
	position: relative;
}
  
.flip-card-inner {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: 0.5s;
}
  
.flip-card-front,
.flip-card-back {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	position: absolute;
	transition: 0.5s;
	top: 0;
	left: 0;
}
  
.flip-card-front {
	transform: rotateY(0deg);
	transform: translate3d(0, 0, 50px);	
}
  
.flip-card-back {
	transform: rotateY(180deg);
	background-color: #523634;
}
  
.flip-card-inner:hover .flip-card-front{
	transform: rotateY(180deg);
}
.flip-card-inner:hover .flip-card-back{
	transform: rotateY(360deg);
}
 
.bgb{
	background:  #070716 center center/cover no-repeat;
	min-height: 502px;
	position: relative;
	padding-top: 56px;

	

	

}
.text{
		color: #222;
		text-align: center;
		font-family: Roboto;
		font-size: 17px;
		font-style: normal;
		font-weight: 300;
		line-height: 24px;
}
.imgbg{
		background-size: cover;
		padding: 210px 0 130px 0;
		background: url('../img/bg/Подложка.png'), lightgray 50% / cover no-repeat;
}

.car{
	top: 45%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

.conditions{
	display:flex;
	margin-bottom: 68px;

	&_list_blue{
	color: #1CA8C3;
	font-family: Roboto;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 20px;
	}

	&_list_red{
	color: #FF5656;
	font-family: Roboto;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 22px;
	}
}

.blue-text{
	list-style: none;

	li{
		color: #222;
		position: relative;
		font-size: 17px;
		font-weight: 300;
		line-height: 24px; 
		margin-bottom: 10px;

		&::before {
            content: '\2713';
            color:#1CA8C3;
            width: 20px;
            height: 20px;
            margin-right: 16px;
            position: absolute; 
            border: 2px solid #1CA8C3; 
            border-radius: 50%;
            text-align: center; 
            line-height: 20px;
			left: -32px;
			top: 1px;
        }
	}
}

.red-text{
	list-style: none;
	
	li{
		color: #222;
		position: relative;
		font-size: 17px;
		font-weight: 300;
		line-height: 24px; 
		margin-bottom: 10px;

		&::before {
            content: '\2713';
            color:#FF5656;;
            width: 20px;
            height: 20px;
            margin-right: 16px;
            position: absolute; 
            border: 2px solid #FF5656;; 
            border-radius: 50%;
            text-align: center; 
            line-height: 20px;
			left: -32px;
			top: 1px;
        }
	}
}

.conditions_additional{
		color: #1CA8C3;
		font-family: Roboto;
		font-size: 17px;
		font-style: normal;
		font-weight: 300;
		line-height: 24px; 
		margin: 15px 0 61px;
}

.world{
	position: relative;
	background-color:#080816;
	padding: 15px 0;
	background-image: url('../img/bg/world_bg.png');
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 716px;

	&_allworld{
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		color: #1FBAD6;
		text-align: center;
		font-size: 15px;
		font-weight: 400;
		text-transform: uppercase;	
		text-decoration: none;
		background-color: rgba(0, 0, 0, 0);
		border: none;

		&:hover{
			opacity: 0.5;
		}
	}
}


.footer{
	position: relative;
}

.line {
  width: 301px;
  height: 7px;
  background-color: #1FBAD6;
  margin: 0 auto;
  margin-top: 12px;
}

.messenger{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 35px;
	background-color: #070716;
	border-radius: 50%;
	gap: 10px;
}

.icons1{
	position: absolute;
	left: 22px;
	margin-top: 48px;
	display: flex;
	gap: 5px;
}

.icons2{
	position: absolute;
	right: 22px;
	top: 51px;
	display: flex;

}

.nav_end{
	left: 50px;
	display: flex;
	padding: 0;
	justify-content: center;
	list-style: none;
	gap: 18px;
	// line-height: 68px;

	&_i{
		color: #070716;
		font-size: 15px;
		font-weight: 300;
		line-height: 68px;
		text-transform: uppercase;
		
	}
}

.nav_under{	
	left: 50px;
	display: flex;
	padding: 0;
	justify-content: center;
	list-style: none;
	gap: 15px;
	top: 35px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;

	&_1{
		color: #999;
		font-size: 11px;
		font-weight: 300;
		line-height: 68px;
		text-transform: uppercase;
	}
}

.language{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top:77.5px;
	margin-bottom: 10.5px;
	color: #1FBAD6;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	text-align: center;
	font-family: Roboto;
	font-size: 11px;
	font-weight: 400;
	line-height: 68px;
	text-transform: uppercase;
}